:root {
  --clr-primary-1: #2c2b2b;
  --clr-primary-2: #ee3b3b;
  --clr-primary-3: #f4f2f1;
  --clr-primary-5: #969696;
  --clr-primary-6: #eb9b94;
  --clr-primary-7: #cb856b;
  --clr-primary-8: #c1c1c1;
  --clr-primary-9: #edbaa3;
  --clr-primary-10: #729caf;
  --clr-white: #fff;
  --clr-black: #222;
  --clr-transparent-black: rgb(0, 0, 0, 0.2);
  --clr-pink: rgb(255, 191, 202);
  --clr-primary-color: rgb(3, 23, 23);
  --background: #f4f2f1;
  --transition: all 400ms ease;
  --spacing: 0.1rem;
  --radius: 0.5rem;
  --main-radius: 5rem 5rem 0 0;
  --minor-radius: 3rem 3rem 0 0;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --btn-red-shadow: 0 5px 15px var(--clr-primary-6);
  --btn-dark-shadow: 0 5px 10px var(--clr-primary-8);
  --container-width-lg: 82%;
  --container-width-md: 90%;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: 0;
  text-decoration: none;
}
body {
  font-family: Arial, Helvetica, sans-serifs;
  color: var(--clr-black);
  line-height: 1.5;
  background: var(--clr-black);
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

/* ========GENERAL CLASSES======= */
.container {
  width: var(--container-width-lg);
  margin-inline: auto;
  max-width: 1920px;
  text-transform: capitalize;
}
section {
  background: var(--background);
  width: 95%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  font-size: 2.5rem;
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--clr-grey-1);
  background: linear-gradient(rgb(230, 224, 224), white);
  padding: 1.1rem 2.9rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: transparent;
  transition: var(--transition);
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  margin-top: 0;
}

.btn.sm {
  padding: 0.4rem 1.2rem;
  font-size: 0.9rem;
  border-radius: 4rem;
}

.btn:hover {
  background: var(--clr-primary-2);
  color: var(--clr-primary-3);
  border: transparent;
}
.btn-primary {
  background: var(--clr-primary-2);
  color: var(--clr-primary-3);
  box-shadow: var(--btn-red-shadow);
}
.btn-primary:hover {
  background: var(--clr-primary-3);
  color: var(--clr-primary-1);
  border: var(--clr-primary-6);
}
img {
  object-fit: cover;
  display: block;
  width: 100%;
}

/* ========HEADER STYLES=========== */
header {
  height: 100vh;
  width: var(--container-width-lg);
  margin: auto;
}
header article {
  padding-top: 7%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
}
.heading-title {
  margin: auto 0;
}
.header-label h2 {
  font-size: 4rem;
  font-weight: 500;
}
.header-label span {
  color: var(--clr-primary-2);
  font-weight: 900;
  font-size: 5rem;
}
.heading-title p {
  padding: 2rem 0;
}
.header-buttons {
  display: flex;
  gap: 2rem;
}
.header-buttons a {
  color: var(--clr-primary-1);
}

/* ========COUNTDOWN STYLES=========== */
.countdown {
  z-index: 1;
  transform: skewY(-3deg);
  height: 70vh;
  background: var(--clr-primary-1);
  color: var(--clr-primary-3);
  border-radius: var(--main-radius);
}
.countdown-content {
  padding: calc(100vw * 0.0699);
  transform: skewY(3deg);
  display: grid;
  grid-template-columns: 45% 55%;
}
.deadline {
  display: flex;
  gap: 1rem;
  padding: 0;
}
.promotion-head-tag {
  margin-left: 0.9rem;
}
.promotion-head-tag h1,
.features-heading h1,
.products-heading h1 {
  font-size: 3rem;
  font-weight: 600;
  font-weight: 1.3rem;
  letter-spacing: var(--spacing);
}
.promotion .ends {
  margin-top: 2rem;
  margin-left: 1rem;
  color: var(--clr-primary-5);
}
.colon {
  margin-top: 2%;
  color: var(--clr-primary-2);
}
.deadline-format {
  background: var(--tertiary-colour);
  color: white;
  width: 5rem;
  display: grid;
  /* text-align: center; */
  /* place-items: center; */
}

.deadline-format span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}

.deadline h2:not(.expired) {
  font-size: 2.7rem;
  margin-bottom: 0.25rem;
  letter-spacing: var(--spacing);
}
.expired {
  letter-spacing: 0.2rem;
}
/* ========FEATURES STYLES=========== */
.features {
  position: relative;
  z-index: 700;
  height: 90vh;
  border-radius: var(--main-radius);
  margin-top: -7rem;
  background: var(--clr-primary-3);
}
.features .ontop,
.products .ontop,
.brands-message .ontop {
  position: absolute;
  left: 0;
  width: 100%;
}
.features-heading,
.products-heading {
  text-align: center;
  margin-top: 7%;
  text-transform: capitalize;
}
.features-qualities,
.products-display {
  left: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: var(--container-width-lg);
  gap: 2%;
  margin-top: 7%;
  margin: 6% auto;
}
.each-feature,
.each-product {
  display: grid;
}
.each-feature h4 {
  margin-top: 35%;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}
.each-feature p {
  text-align: center;
  padding: 1rem 0;
}
.feature-image,
.product-image {
  margin-left: 50%;
  transform: translate(-50%);
  height: 2rem;
  width: 6rem;
}
.product-image {
  width: 100%;
}
/* ========PRODUCTS STYLES=========== */
.products {
  z-index: 300;
  background: var(--clr-white);
  height: 105vh;
  border-radius: var(--main-radius);
}

.more-products {
  margin-right: 17%;
}
.more-products h3 {
  text-align: right;
  font-weight: 600;
}
.products-heading {
  margin-top: 4%;
}
.products-display {
  margin-top: 4%;
}
.ab {
  display: none;
}
.each-product h3 {
  margin-top: 100%;
  text-align: center;
}
.each-product h2 {
  text-align: center;
  padding: 1rem;
}
.each-product .btn {
  margin: auto;
  padding: 0.9rem 2.7rem;
  background: var(--clr-primary-1);
  box-shadow: var(--btn-dark-shadow);
}
.each-product .btn:hover {
  background: var(--clr-primary-3);
}
/* ========BRANDS MESSAGE STYLES=========== */
.brands-message {
  height: 90vh;
  background: var(--clr-primary-2);
  border-radius: var(--main-radius);
}
.brands-message .ontop {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 4rem;
  color: var(--clr-white);
  height: 80%;
  width: 100%;
  margin: auto;
}
.message-quote span h1 {
  font-size: 6rem;
}
.message-quote .quot {
  margin-left: 5%;
}
.message-quote h2 {
  margin-top: 13%;
}
.brand-message-img {
  margin-top: 2rem;
}
/* =====MEDIA QUERRIES(MEDIUM)====== */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  header {
    height: fit-content;
    margin-bottom: 10vh;
  }
  header article {
    grid-template-columns: 45% 50%;
    gap: 5%;
  }
  .header-label h2 {
    font-size: 2.5rem;
    font-weight: 300;
  }
  .header-label span {
    font-weight: 800;
    font-size: 3.5rem;
  }

  .features,
  .products {
    height: 48vh;
  }
  .countdown {
    height: 50vh;
  }
  .each-feature h4 {
    margin-top: 30%;
  }
  .product-image {
    width: 80%;
  }
  .each-product h3 {
    margin-top: 80%;
  }
  .brands-message .ontop {
    grid-template-columns: 1fr;
  }
  .brand-message-img {
    margin-top: 0.5rem;
    width: 90%;
  }
}

/* =====MEDIA QUERRIES(SMALL)====== */

@media screen and (max-width: 620px) {
  h1 {
    font-size: 2.2rem;
    line-height: 1.1rem;
  }
  header {
    height: fit-content;
    margin-bottom: 10vh;
    position: relative;
  }
  header article {
    grid-template-columns: 1fr;
  }

  .header-image {
    display: none;
  }
  .header-label h2 {
    width: 80vw;
    font-size: 2.3rem;
    font-weight: 500;
    padding-bottom: 1rem;
  }
  .header-label h1 {
    width: 80vw;
  }
  .header-label span {
    font-weight: 800;
    font-size: 3.5rem;
  }
  .header-buttons .btn {
    padding: 0.7rem 2.1rem;
    display: inline;
  }
  .heading-title p {
    width: 80vw;
    padding: 1.5rem 0;
  }
  .promotion-head-tag h1,
  .features-heading h1,
  .products-heading h1 {
    font-size: 2.5rem;
    font-weight: 1.1rem;
    letter-spacing: var(--spacing);
    margin-bottom: 1rem;
  }
  .features {
    height: 1130px;
  }
  .features-heading h1,
  .products-heading h1 {
    font-size: 2rem;
    letter-spacing: normal;
  }
  .countdown,
  .features,
  .brands-message {
    border-radius: var(--minor-radius);
  }
  .countdown {
    height: fit-content;
  }
  .countdown-content {
    grid-template-columns: 1fr;
    gap: 5%;
    padding-top: 3rem;
    padding-bottom: 10rem;
  }
  .countdown-display {
    text-align: justify;
    width: 90%;
  }
  .promotion-head-tag {
    margin-left: 0;
  }
  .promotion .ends {
    margin-left: 0;
  }
  .deadline-format {
    align-items: left;
  }
  .colon {
    margin-top: 6%;
  }
  .features-qualities,
  .products-display {
    grid-template-columns: 1fr;
    height: fit-content;
  }
  .products {
    height: 1928px;
  }
  .products-heading {
    margin-top: 10%;
  }
  .more-products:not(.ab) {
    display: none;
  }
  .ab {
    position: absolute;
    display: inline;
    margin-top: 30%;
    left: 50%;
    transform: translate(-50%);
  }
  .brands-message {
    min-height: fit-content;
  }
  .brands-message .ontop {
    padding: 3rem 2rem;
  }
  .message-quote .quot {
    line-height: 1.1;
  }
  .brand-message-img {
    width: 100%;
  }
}
